
/* Stylesheet: Main Stylesheet */

/* ---- IMPORTING PARTIALS ---- */
// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";


/* ketra demo styles */

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
body * {
  box-sizing: border-box;
  font-family: "Helvetica Neue","Helvetica","Myriad",sans-serif;
}
.container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;

  img {
    position: absolute;
    top: 40px;
    left: 0;
    max-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    opacity: 1;
  }
}

input[type=radio] {
  position: absolute;
  left: -100000;
  visibility: hidden;
}
label.button {
  display: block;
  height: 40px;
  width: auto;
  padding: 0 5px;
  text-align: center;
  font-family: "Helvetica Neue","Helvetica","Myriad",sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 40px;
  color: #aaa;
  text-transform: uppercase;
  background-color: #000;
  cursor: pointer;
}

.container.mobile,
.container.desktop {
  .hidden {
    z-index: -1;
  }
  .shown {
    transition: opacity 3s ease-in-out;
  }
  .show:checked ~ .shown {
    opacity: 0;
  }
  .show:checked ~ label.show {
    color: #000;
    background-color: #fff;
  }
  .hide:checked ~ .shown {
    opacity: 1;
  }
  .hide:checked ~ label.hide {
    color: #000;
    background-color: #fff;
  }
}

.container.mobile,
.container.desktop {
  display: none;
}

@media screen and (max-width: 499px) {
  .container.mobile {
    display: flex;
  }
}
@media screen and (min-width: 500px) {
  .container.desktop {
    display: flex;
  }
}
